params {

    // Output directory
    analysisDir            = './work'
    // Raw data directory
    dataDir                = './data'

    scriptDir               = ''

    // Analysis specific parameters
    samplesheet             = null
    runID                   = null

    // MinION specific paraters
    minion_ip               = ''
    minion_pass             = 'minit'

    // Running parameters
    cpu                     = 2
    memory                  = 6.Gb
    analyse_unclassified    = false

    // Database paths
    scheme_dir              = ''

}

profiles {

    conda_on {
        conda = true
        mamba = true
    }

    docker_on {
        enabled = true
        // this ensures container is run as host user and group, but
        //    also adds host user to the within-container group
        runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
    }

    singularity_on {
        enabled = true
        autoMounts = true
    }

    process { 

        shell               = ['/bin/bash', '-euo', 'pipefail']

        
        withName: ARTIC_ANALYSIS {

                min_len             = null // need to check requirements
                max_len             = null // check requirements of artic
                max_softclip_length = null
                normalise           = 200
                report_depth        = 100
                scheme_name         = "SARS-CoV-2"
                scheme_version      = "ARTIC/V3"
                list_schemes        = false

        }

        withName: PANGOLIN_ANALYSIS {

        }

        withName: NEXTCLADE_ANALYSIS {

        }

    }

manifest {
    mainScript = 'main.nf'
    nextflowVersion = '>=20.04.0'
}

// Pull the epi2me-labs/wf-artic workflow
includeConfig 'https://github.com/epi2me-labs/wf-artic.git'

}