params {

    // Raw data directory
    dataDir         = null
    scriptDir       = "${projectDir}/bin/"
    schemeDir       = "${projectDir}/schemes/"

    // Output directory
    analysisDir             = null

    // Analysis specific parameters
    samplesheet             = null
    runID                   = null

    // MinION specific paraters
    
    /// conditional argument for IP address
    minion_ip = minionID == 1 ? '10.80.155.184' : 
                    minionID == 2 ? '10.80.155.84' : 
                '10.80.155.184'
    minion_password       = minit

    // Artic paramters
    min_len             = 800 // need to check requirements
    max_len             = 1600 // check requirements of artic
    normalise           = 200
    min_depth           = 20
    min_mapq            = 20
    scheme_name         = "Midnight-ONT"
    scheme_ver          = "V3"

}

profiles {

    conda_on {
        conda = true
        mamba = true
    }

    docker_on {
        enabled = true
        // this ensures container is run as host user and group, but
        //    also adds host user to the within-container group
        runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
    }

    singularity_on {
        enabled = true
        autoMounts = true
    }

    process { 

        shell = ['/bin/bash', '-euo', 'pipefail']

    }

manifest {
    mainScript = 'main.nf'
    nextflowVersion = '>=20.04.0'
}

}